{% extends "base.html"%}
{%block content %}
{% load crispy_forms_tags %}
    <div class="container" margin-bottom="30px">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}
            <button class="btn btn-primary btn-block" style="background: linear-gradient(rgba(255,0,0,0.83) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%), linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%);border-radius: 20px;margin-right: 5px;">Login</button>
        </form>
        <a href="../register/">
            <button class="btn btn-primary btn-block" style="background: linear-gradient(rgba(255,0,0,0.83) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%), linear-gradient(rgba(56,163,165,0.34) 97%, rgba(56,163,165,0.7250000000000012) 99%, #38a3a5 100%, black 100%, white 100%);border-radius: 20px;margin-right: 5px;">Registrar</button>
        </a> 
    </div>
{% endblock content %}

    
